body {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: rgb(31,38,49);
}

#press{
  color:rgb(198, 31, 59) ;
}
#upper{
  text-transform: uppercase;
  color:rgb(198, 31, 59) ;
}


.content{
  width: 900px;
  margin: auto;
  display: block;
  color: rgb(116,142,144);
  
}


header nav ul li:hover{
  cursor: pointer;
  color:rgb(198, 31, 59) ;
}



header nav ul{
  display: flex;
  justify-content: end;
  
}
header nav ul li{
  list-style: none;
  margin-right: 3rem;
}


.mid-section{
display: flex;
color: rgb(116,142,144);


}
#info{
  padding-left: 2rem;
}


footer{
  display: block;
  display: flex;

}